<!doctype html>
<html lang="pt-br" ng-app="SimuladorApp" class="ng-scope">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#4FC198">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
	<link rel="shortcut icon" type="image/x-icon" href="https://contabilidade.help/./favicon.ico">

	<title>Help Contabilidade Online | Bem-vindo(a)!</title>
	  
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://contabilidade.help/assets/css/estilo.css">
    <link rel="stylesheet" id="linkwowcss-css"  href="https://contabilidade.help/assets/css/linkwow.css" type="text/css" media="all" />
    <script  src="assets/js/jquery.min.js" id="jquery-core-js"></script>
  
  </head>
  <body data-rsssl="1" class="page-template page-template-page-migrar page-template-page-migrar-php page page-id-30">

<!-- CABEÇALHO-->

<header class="w3l-header-nav">
	<!--/nav-->
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto pl-lg-5">
					<li class="nav-item @@home__active">
						<a class="nav-link" href="https://contabilidade.help/index.html">Início</a>
					</li>
					<li class="nav-item @@about__active">
						<a class="nav-link" href="https://contabilidade.help/conheca.html">Conheça a He!p</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" href="https://contabilidade.help/contact.html">Entrar em Contato</a>
					<li class="nav-item @@services__active">
						<a class="nav-link" href="http://helpcontabilidade.osayk.com.br/"><span class="fa fa-user-o"></span> Área do Cliente</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--//nav-->
</header>
<!-- //w3l-header -->
<section class="w3l-main-slider" id="home">
  <!-- main-slider -->
  <div class="companies20-content">
     <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h6></h6>
                  <h6><a class="navbar-brand" href="#index.html">
							<img src="https://contabilidade.help/assets/images/logotipo.png" alt="Help Contabilidade" width="447" height="499" title="Help Contabilidade" />
				      </a>
				  <p>Quer ter uma contabilidade na palma da sua mão?</p></h6>
                  <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://contabilidade.help/contact.html">CLIQUE AQUI</a>
                 </div>
               </div>
            </div>
          </div>
        </li>
      </div>
   </div>
</section>

<!-- CONHEÇA NOSSOS PLANOS -->
	  
	  
<div class="w3l-open-block-services py-5" id="services">
		<div class="container py-lg-5 pt-4">
			<div class="heading text-center mx-auto">
				<h3 class="head">Conheça Nossos Planos</h3>
			</div>
			<div class="row pt-5 mt-3">
				<div class="col-lg-3 col-md-6">
					<div class="card text-center">
						<div class="icon-holder">
							<span class="fa fa-ravelry service-icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Help MEI<br>R$ 49,90</h4>
						<div class="open-description">
							<p><br>Abertura Gratis
							<br>Contabilidade Online
							<br>Suporte
							<br>Faturamento Limite MEI
							</p>
							<p><a href="https://contabilidade.help/contact.html"><br>Escolher Plano</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mt-md-0 mt-3 pt-md-0 pt-3">
					<div class="card text-center">
						<div class="icon-holder">
							<span class="fa fa-home service-icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Help Empregador Doméstico<br>R$ 49,90</h4>
						<div class="open-description">
							<p>E-social
							<br>Gestão Mensal
							<br>Regularização de Retroativos
							<br>Admissão de Empregado
							<br>Recisão de Contrato de Trabalho
							</p>
							<a href="https://contabilidade.help/contact.html">Escolher Plano</a>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-3 pt-lg-0 pt-3">
					<div class="card text-center">
						<div class="icon-holder">
							<span class="fa fa-money service-icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Contabilidade<br>R$ 89,90</h4>
						<div class="open-description">
							<p><br>Balanço e DRE
							<br>Envio de NF-e para a plataforma
							<br>Emissão de impostos
							<br>Suporte feito por contador
							<br>Pro-labore
							<br>Departamento pessoal
							</p>
							<a href="https://contabilidade.help/contact.html">Escolher Plano</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-3 pt-lg-0 pt-3">
					<div class="card text-center">
						<div class="icon-holder">
							<span class="fa fa-clock-o service-icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Contabilidade e Assessoria<br>R$ 199,90</h4>
						<div class="open-description">
							<p>Uma Reunião mensal com o contador com horário agendado
							<br>Balanço e DRE
							<br>Envio de NF-e para a plataforma
							<br>Emissão de impostos
							<br>Suporte feito por contador
							<br>Pró-labore
							<br>Departamento pessoal
							<br>Suporte WhatsApp ilimitado
							</p>
							<a href="https://contabilidade.help/contact.html">Escolher Plano</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	  
	
<!-- Ouibounce Modal -->
    <div id="ouibounce-modal">
      <div class="underlay"></div>
        <div class="modal">
            <div class="modal-title">
                <h3>Não vá embora ainda!</h3>
                <div class="modalaviso-close" onclick="document.getElementById('ouibounce-modal').style.display = 'none';">
                    x
                </div>
            </div>
    
            <div class="modal-body">
                <a href="https://contsimples.com.br/contsimples/irpf/cadastre-se/" target="_blank"><img src="https://contsimples.com.br/wp-content/themes/contsimplesv4/img/irpf_2021_contsimples.png" alt="IRPF 2021 Contsimples"></a>
                <div class="clearfix"></div>
            </div>
    
            <!--<div class="modal-footer">
                <p onclick="document.getElementById('ouibounce-modal').style.display = 'none';">Não, obrigado</p>
            </div>-->
        </div>
    </div>
<!-- Google Tag Manager (noscript) -->
	
<!-- CADASTRE-SE -->
<section class="w3l-footer-29-main">
  <div class="footer-29">
      <div class="container">
          <div class="d-grid grid-col-4 footer-top-29">
              <div class="footer-list-29 footer-1">
                <h6 class="footer-title-29"></h6>
              </div>
              <div class="footer-list-29 footer-2">
                <h6 class="footer-title-29"></h6>
              </div>
            <div class="footer-list-29 footer-3">
                <h6 class="footer-title-29">FAÇA UM TOUR PELO NOSSO SISTEMA!</h6>
                <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://wa.me/5551994199880" target="_blank">ENTRE EM CONTATO</a>
              </div>
          </div>
      </div>
  </div>
<!-- //CADASTRE-SE -->
	
<!-- /MENSALIDADE PENSANDO EM VOCE -->	
<section id="services" class="services-1 py-5">
    <div class="container py-lg-5 py-md-4">
	  <div class="row text-center img-grids">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="ser-bg1">
            <div class="p-md-5 p-3">
				
            
                <h4><a href="#url">Mensalidade</a></h4>
                <p>Hoje uma empresa enquadrada no simples, com até dois sócios, sem funcionários e faturamento de até R$5.000,00/mês paga à partir de R$89,00.

</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
          <div class="ser-bg2">
            <div class="p-md-5 p-3">
           
                <h4><a href="#url">Pensando</a></h4>
                <p>A sua mensalidade pode alterar caso haja mudanças ou aumento de faturamento, mas um diferencial exclusivo da Help Contabilidade é que aqui o seu preço não sobe apenas, mas também pode voltar a cair!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
          <div class="ser-bg3">
            <div class="p-md-5 p-3">
               
                <h4><a href="#url">em Você!</a></h4>
                <p>Então vamos supor que você faturou R$10.000,00 em abril, sua mensalidade passará para R$99,00 no mês de maio, mas se em Maio o seu faturamento voltar a ficar abaixo de R$5.000,00 a mensalidade retorna para R$89,00.

</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
	
<!-- CALCULADORA -->
	<section  class="calculadora-1 py-5">
	<div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
          <div class="titulo-modulo text-center">
            <h2>Veja o quanto você pode economizar na<br>Help Contabilidade Online</h2>
          </div>
		</div>
    </div>


	<div class="container-simulator" ng-controller="SimuladorController" >        
        <div class="simulator-row">
			<div class="calculadora-campos">				
				
                 <table class="calculadora-campos-enquadramento"><tr>
                   <td><input type="radio" name="calculadora-enquadramento" id="calculadora-simples-servico" ng-click="simples = 0" class="calculadora-enquadramento" value="Simples Serviço" checked /><label for="calculadora-simples-servico">Simples Serviço</label>
                   </td><td><input type="radio" name="calculadora-enquadramento" id="calculadora-simples-comercio" ng-click="simples = 1" class="calculadora-enquadramento" value="Simples Comércio" /><label for="calculadora-simples-comercio">Simples Comércio</label>
                   </td><td><input type="radio" name="calculadora-enquadramento" id="calculadora-lucro" ng-click="simples = 2" class="calculadora-enquadramento" value="Lucro Presumido" /><label for="calculadora-lucro">Lucro Presumido</label>				   
                 </td></tr></table>

                 <div class="clearfix"></div>

                 <div class="calculadora-inputs">
                   <label for="contabilidade-mes">Quanto você paga de contabilidade por mês?</label>
                   <input type="number" name="contabilidade-mes" ng-model="valorContadorAtual" min="0" max="4000" ng-keyUp="verificaValor($event, 4000, 'valorContadorAtual')" id="valorAtualCont" class="form-calculadora" placeholder="Insira um número" value="499" />
                 </div>

                 <div class="calculadora-inputs">
                   <label for="contabilidade-socios">Quantos sócios tem sua empresa?</label>
                   <input type="number" name="contabilidade-socios" ng-keyUp="verificaValor($event, 10, 'qtdSocios')" ng-model="qtdSocios" min="1" max="10" id="contabilidade-socios" class="form-calculadora" placeholder="Insira um número" value="0" />
                 </div>

                 <div class="calculadora-inputs">
                   <label for="contabilidade-funcionarios">Quantos funcionários tem sua empresa?</label>
                   <input type="number" name="contabilidade-funcionarios" ng-keyUp="verificaValor($event, 10, 'qtdFuncionarios')" ng-model="qtdFuncionarios" min="0" max="10" id="contabilidade-funcionarios" class="form-calculadora" placeholder="Insira um número" value="0" />
                 </div>
                                 
                 <div class="clearfix"></div>

                 <div class="calculadora-inputs">
                   <div class="dropdownz">
                      <label for="dropdownconteudo">Qual seu faturamento previsto?</label>
                     <button class="dropdown-toggle form-calculadora botao-select" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         {{ltFaturamento[indice]}}
                         <span class="caret"></span>
                     </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdownconteudo">
                           <li ng-repeat="item in ltFaturamento"><a href ng-click="atualizaFaturamento($index)">{{item}}</a></li>
                       </ul>
  
                   </div>
                 </div>

              </div>
            </div>

            <!-- Informações processadas da calculadora -->
            <div class="container">
              <div class="calculadora-dados">

                  <div class="calculadora-dados-mensalidade">
                    <p class="calculadora-dados-titulo text-center">Sua mensalidade será de:</p>

                    <h3><span class="calculadora-item-menor ">R$</span><span class="valor-calculadora-total-grande">{{valorMensalidade}}</span><span class="calculadora-item-menor">/mês*</span></h3>                    
                  </div>

                  <div class="calculadora-dados-mensalidade calculadora-dados-economia">
                    <p class="calculadora-dados-titulo text-center">Você economiza:</p>
                    <h3><span class="calculadora-item-menor">R$</span><!--5419-->{{valorDescontoAnual}}<span class="calculadora-item-menor">/ano</span></h3>
					<p class="calculadora-dados-titulo text-center">Percentual de redução:</p>
					<h3><span class="calculadora-item-menor">R$</span><!--5419-->{{valorDescontoAnualPct}}<span class="calculadora-item-menor">%</span></h3>
                  </div>
				  
				  <div class="calculadora-dados-mensalidade calculadora-dados-economia">
                    <p class="calculadora-dados-titulo text-center">Abertura de CNPJ:</p>
                    <h3><!--5419-->Consulte</h3>
					<p class="obs">em Conheça Nossos Planos</p>
                  </div>
              </div>
            </div>
		</div>
</section>
<!-- CALCULADORA -->
	
<section class="w3l-services2" id="conheca">
			<div class="features-with-17_sur py-5">
				   <div class="container py-md-3">
					<div class="heading text-center mx-auto">
						<h3 class="head text-white">Veja como funciona:</h3>
						<br>
					</div>
			<div class="grid-view">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-md-4 mt-4">
            <div class="grids5-info">
              <div class="blog-info">
				<div class="features-with-17-left1">
				   <span class="fa fa-file-text-o"></span>		
				</div>
                <h4><a href="#">Notas Fiscais</a></h4>
               
                <p class="blog-text">Você nos envia o arquivo XML de todas as notas que emitiu no mês anterior. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-4 mt-5">
            <div class="grids5-info">
              <div class="blog-info">
			  <div class="features-with-17-left1">
				   <span class="fa fa-bar-chart"></span>		
			  </div>
                <h4><a href="#">Movimentação Contábil</a></h4>
                
                <p class="blog-text">Você também nos envia toda a movimentação da empresa no mês anterior (pagamentos, extratos bancários, etc).</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 mt-md-4 mt-5">
            <div class="grids5-info">
				<div class="features-with-17-left1">
				   <span class="fa fa-users"></span>		
				</div>
                <h4><a href="#">Departamento Pessoal</a></h4>
               
                <p class="blog-text">você nos envia todas as informações dos seus funcionários e, mensalmente, caso haja alguma alteração como férias, por exemplo.</p>
              </div>
            </div>
          </div>
        </div>

					   
				     <div class="row pt-5 mt-3">
						<div class="col-lg-5 features-with-17-left_sur">
							<h4 class="lft-head">A partir das informações que nos enviou, nós disponibilizaremos pela plataforma toda a sua contabilidade:</h4>
						</div>
						<div class="col-lg-7 my-lg-0 my-5 align-self-center features-with-17-right_sur">
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
									<span class="fa fa-laptop s4"></span>		
								</div>
								<div class="features-with-17-left2">
									<h6><a href="#url">Guias de Impostos</a></h6>
									<p>Disponível na plataforma para acessar onde e quando quiser!</p>		
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
										<span class="fa fa-database s5"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Relatórios</a></h6>
										<p>Disponível na plataforma para acessar onde e quando quiser!</p>			
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
									<span class="fa fa-lock s3"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Documentos Fiscais</a></h6>
										<p>Disponível na plataforma para acessar onde e quando quiser!</p>	
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
										<span class="fa fa-codepen s2"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Contracheques, 13°, férias, etc</a></h6>
										<p>Disponível na plataforma para acessar onde e quando quiser!</p>	
								</div>
							</div>
							
							
						</div>
						 <div class="heading text-center mx-auto">
						 <p class="my-3 head "><br>Temos também WhatsApp e o Chat por onde é feito o suporte a você e sua empresa!</p>
						 
						</div>
					   
					</div>
				
				</div>
	
			</section>
	
<!-- /SUPORTE NA SUA CHEGADA -->
		<div class="features py-5" id="about">
          <div class="container py-lg-5 py-md-4">
			<div class="heading text-center mx-auto">
					<h3 class="head">Suporte na Sua Chegada</h3>
					<p class="my-3 head">Assim que você finalizar o cadastro não estará sozinho!</p>
			</div>
			<div class="row text-center img-grids">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="p-md-5 p-3">
            
                	<h4><a href="https://wa.me/5551994199880"><span class="fa fa-whatsapp"></span></a></h4>
                	<p>Caso você esteja abrindo a sua empresa, vamos entrar em contato pelo WhatsApp e realizar uma consultoria totalmente gratuita para sanar suas dúvidas sobre a legalização da sua empresa. </p>
            		</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
				<div class="p-md-5 p-3">
            
                	<h4><a href="#url"><span class="fa fa-comment-o"></span></a></h4>
                	<p>Após a abertura da sua empresa, você tem mais uma consultoria gratuita para conhecer a nossa plataforma de contabilidade online.</p>
            		</div>
				</div>	
				<div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
				<div class="p-md-5 p-3">
            
                	<h4><a href="#url"><span class="fa fa-gears"></span></a></h4>
                	<p>Se você está buscando trazer a sua empresa, também tem uma consultoria gratuita para tirar suas dúvidas e conhecer todas as vantagens de trabalhar com os serviços de um contador online.</p>
           		  </div>
				</div>	
			</div>
		  </div>
		 </div>
<!-- //SUPORTE NA SUA CHEGADA -->

<!-- /SEU ESPAÇO -->
<section class="w3l-index6 py-5">
  <div class="container py-md-3 text-center">
    <div class="heading text-center mx-auto">
		<h3 class="head text-white">ACESSE O SEU ESPAÇO</h3>
	</div>
    <div class="buttons mt-5">
      <a href="http://helpcontabilidade.osayk.com.br/" class="btn btn-outline-primary mr-2 theme-button lft-btn"><span class="fa fa-user-o"></span> LOGIN</a>
      <a href="contact.html" class="btn btn-primary theme-button ml-2">CADASTRE-SE</a>
    </div>
  </div>
</section>
<!-- //SEU ESPAÇO -->	
	
<!-- grids block 5 -->
<section class="w3l-footer-29-main">
  <div class="footer-29">
      <div class="container">
          <div class="d-grid grid-col-4 footer-top-29">
              <div class="footer-list-29 footer-1">
                <h6 class="footer-title-29"></h6>
                
              </div>
              <div class="footer-list-29 footer-2">
                  <ul>
                    <h6 class="footer-title-29">REDES SOCIAIS</h6>
                    <div class="main-social-footer-29">
					  <a href="https://wa.me/5551994199880" target="_blank" class="linkedin"><span class="fa fa-whatsapp"></span></a>  
                      <a href="mailto:contato@contabilidade.help" target="_blank" class="linkedin"><span class="fa fa-envelope"></span></a><br><br>						
                      <a href="https://www.facebook.com/helpcontabilidadeonline" target="_blank" class="linkedin"><span class="fa fa-facebook"></span></a>  
                      <a href="https://www.instagram.com/helpcontabilidadeonline/" target="_blank" class="linkedin"><span class="fa fa-instagram"></span></a>
                  </div>
                  </ul>
              </div>
              <div class="footer-list-29 footer-3">
                <h6 class="footer-title-29">ENTRE EM CONTATO</h6>
            <form action="contato.php" class="subscribe" method="post">
            <input type="$email" name="$email" placeholder="E-mail" required="">
            <button><span class="fa fa-envelope-o"></span></button>
			</form>
          <p>Digite seu e-mail</p>
          <p>Em instantes retornaremos o contato!</p>
        
              </div>
          </div>
          <div class="d-grid grid-col-2 bottom-copies">
              <p class="copy-footer-29">© 2021 He!p Contabilidade Online | Desenvolvido por <a href="https://objetivatecnologia.com">Objetiva Tecnologia</a></p>
          </div>
      </div>
  </div>
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Início da Página">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
<script src="https://contabilidade.help/assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!-- script for -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->
<!-- Google Tag Manager (noscript) -->

<script  src="https://contabilidade.help/assets/js/angular.min.js" id="angularjs-js"></script>
<script  src="assets/js/calculadora.js" id="calculadora-js"></script>
<script  src="https://contabilidade.help/assets/js/controles-gerais.js" id="controlesgerais-js"></script>	
</body>

</html>
<!-- // grids block 5 -->
